/* Set the background color */
body {
    background-color: #2f4d01;
}

/* Set the text color */
body, input, button, select, textarea {
    color: white !important;
}

/* Make the app mobile responsive */
@media (max-width: 767.98px) {
    /* Reduce the font size of the title */
    .text-center h1 {
        font-size: 32px;
    }
    
    /* Reduce the font size of the chat messages */
    #chat-output div {
        font-size: 14px !important;
    }
    
    /* Reduce the size of the input and button */
    #user-input, #send-button {
        font-size: 14px !important;
        padding: 0.375rem 0.75rem !important;
    }
}
.img-fluid {
	width: 50%;
  }
.form-control {
	color: black !important;
 }